<?xml version="1.0"?>
<model>
  <name>Sarax plus Manipulator</name>
  <version>1.0</version>
  <sdf version='1.6'>sarax_plus.sdf</sdf>

  <author>
   <name>Ayham Alharbat</name>
   <email></email>
  </author>

  <description>
    This is a model of the Sarax Co-axial Quadrotor with Manipulator.
  </description>
</model>
