<?xml version="1.0"?>
<model>
  <name>peach_uav</name>
  <version>1.0</version>
  <sdf version="1.5">peach_uav.sdf</sdf>

  <author>
   <name> Hanieh Esmaeeli </name>
   <email>h.esmaeeli@saxion.nl</email>
  </author>

  <description>
    This is a model of the peach_uav from Saxion research group.
  </description>
</model>
